.how-it-works-container {
    padding: 60px 20px;
    background: linear-gradient(200deg, #fff, #676768); /* Gradient background for consistency */
    color: #004080;
    text-align: center;
  }
  
  .how-it-works-container h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .steps-list {
    list-style-type: decimal;
    padding: 0;
    margin: 0;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .steps-list li {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
  